<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-app">
	<a class="navbar-brand font-weight-bold" href="#">
		<img src="./assets/images/brand-logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Conectapp
	</a>
	<i class="fa fa-search fa-2x float-right text-white" aria-hidden="true"></i>
</nav>

<router-outlet></router-outlet>

<div class="container-fluid bg-black text-white text-center fixed-bottom">
	<h4 class="font-weight-bold">Conectapp</h4>
</div>